.header{
    width: full;
    padding: 4px;
    text-align: left;
    
    font-weight: lighter;
    background-color: rgb(189, 189, 40);
   
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     color: white;
     display: flex;
     justify-content: space-between;
     align-items: center;
}
.title{
    margin-left: 10px;
}
.list{
    margin-right: 40px;
    list-style: none;
    font-size: 20px;
   
}
.list-container{
    display: flex;
    transform: color 0.3s ease;
}
.list-container a{
    text-decoration: none;
    color: white;
}
.list-container a:hover{
    color: black;
}